[Unit]
Description=PilotGo plugin prometheus
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3s
WorkingDirectory=/opt/PilotGo/plugin/prometheus/server
ExecStart=/opt/PilotGo/plugin/prometheus/server/PilotGo-plugin-prometheus --config.file=/opt/PilotGo/plugin/prometheus/server/config.yml

[Install]
WantedBy=multi-user.target
